.App {
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: #f2fafb;
}
button {
	color: white;
	background-color: #334876;
	padding: 2px 30px;
}
.outsideContainer {
	margin: 60px;
	border-radius: 20px;
	background-color: #e4f3f5;
}
.insideContainer {
	border: 1px solid white;
	padding: 10px;
	margin: 30px;
	border-radius: 10px;
	background-color: white;
}

.firstInput {
	width: 70px;
	margin: 5px;
}
p {
	font-size: 1px;
	padding: 4px;
	margin: 5px;
}
h2 {
	font-size: 20px;
}
